<app-header></app-header>
<!-- <header>
    <div class="view intro-2" style="height: 400px; margin-top: -1px;">
        <div class="full-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container">
                    <div class="white-text text-center wow fadeInUp">
                        <h2 style="padding-top: 50px;">ADMIN AREA</h2>
                        <h5 style="padding-top: 90px;">The admin area is a administration area in Movies App where only an authenticated user can make changes.</h5>
                        
                        <p>Download the manual and keep your data up to date.</p>
                        <button>User guide</button>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Movies App Admin Area</h1>
                <h2>The admin area is a administration area in Movies App where only an authenticated user can make changes. Download the manual and keep your data up to date.</h2>
                <div><a href="#" class="btn-get-started scrollto">Admin guide</a></div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="../../../assets/img/hero-img.png" class="img-fluid" alt="Dasboard image">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center" routerLink="/adm/user">
                            
                            <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">USER</h6>
                            </div>
                        </div>

                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Start User management settings</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center" routerLink="/adm/movie">
                            <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">MOVIE</h6>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Start Movie management settings</h3>
                        <div class="mt-5">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center" routerLink="/adm/genre">
                            <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">GENRE</h6>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Start Genre management settings</h3>
                        <div class="mt-5">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>