<div class="body">
    <app-header></app-header>
    <div class="container">
        <div class=" d-flex justify-content-center">

            <div class="card">


                <div class="card-body">
                    <h2 id="content" tabindex="0" style="color: azure; margin: 20px 0 40px 0;">User Registration</h2>
                    <form>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.name" placeholder="Name"
                                name="Name">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.cpf" placeholder="CPF" name="CPF">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.phoneNumber"
                                placeholder="Phone Number" name="Phone Number">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.email" placeholder="E-mail"
                                name="E-mail">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.userName" placeholder="Username"
                                name="Username">
                        </div>
                        <div class="input-group form-group">
                            <input type="password" class="form-control" [(ngModel)]="user.password"
                                placeholder="Password" name="password">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.profile" placeholder="Profile"
                                name="Profile">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.language.languageId"
                                placeholder="Language" name="Language">
                        </div>
                        <!-- <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.active" placeholder="Active" name="Active">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="user.roles" placeholder="Role" name="Role">
                        </div> -->

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn float-right login_btn" (click)="createUser()"
                                routerLink="/adm/user">
                            <input type="submit" value="Back" class="btn float-left back_btn" routerLink="/adm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>