<div class="container">
    <h1>List Movies</h1>
    <div class="form-group">
      <!-- <input class="form-control" placeholder="search here..." [(ngModel)]="searchText" /> -->
    </div>
    <div class="d-flex flex-row">
      <!-- <app-filters (genreChanged)="onGenreChanged($event)" (yearsChanged)="onYearChanged($event)"
        (sortByChanged)="onSortByChanged($event)">
      </app-filters> -->
      <div class="container-fluid movies-list">
        <app-movie-list-item></app-movie-list-item>
        <app-movie-list-item></app-movie-list-item>
        <app-movie-list-item></app-movie-list-item>
       </div>
    </div>
  </div>

<!-- <div class="container" style="padding-top: 130px;">

    <h1>List Movies</h1>
    <div class="form-group" style="color: blue;">

    </div>
    <div class="d-flex flex-row" style="color: blue;">
        <div class="container-fluid movies-list" >
            <div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;" >
                <div style="margin: 0.5%;" >

                    <div class="card" style="width: 18rem;" >
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->