<div class="body">
    <app-header></app-header>
    <div class="container">
        <div class="d-flex justify-content-center h-100">

            <div class="card">


                <div class="card-body">
                    <h2 id="content" tabindex="0" style="color: azure; margin: 20px 0 40px 0;">Movie Registration</h2>
                    <form>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="movie.title" placeholder="Title"
                                name="Title">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="movie.synopsis" placeholder="Synopsis"
                                name="Synopsis">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="movie.genre.genreId"
                                placeholder="Genre" name="Genre">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="movie.image" placeholder="Image"
                                name="Image">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="movie.releaseDate"
                                placeholder="Release Date" name="Release Date">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="movie.time" placeholder="Time"
                                name="Time">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" [(ngModel)]="movie.language.languageId"
                                placeholder="Language" name="Language">
                        </div>



                        <div class="form-group">
                            <input type="submit" value="Save" class="btn float-right login_btn" (click)="createMovie()"
                                routerLink="/adm/movie">
                            <input type="submit" value="Back" class="btn float-left back_btn" routerLink="/adm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>